@font-face {
    font-family: 'Neucha';
    src: url('./assets/fonts/Neucha-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

$col:rgb(255,
0,
0);
body {
    display: flex;
    flex-direction: column;
    background: #192F2D;
}

%text-shared {
    // width: 106px;
    height: 22px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

%secondary-text-shared {
    font-family: Steppe;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

%text-large-middle-little {
    font-family: Steppe;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

main {
    margin: 0 auto;
    width: 1920px;
    // border: $col 1px solid;
    display: flex;
    .collection-settings {
        .wrapper {
            margin-top: 50px;
            max-width: 450px;
            height: 900px;
            // border: $col 1px solid;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .effects-and-seach-wrap {
                display: flex;
                justify-content: space-between;
                .sound {
                    background: url("./assets/svg/mute.svg") 0 0/contain no-repeat;
                    width: 36px;
                    height: 36px;
                }
                .snow {
                    background: url("./assets/svg/snow.svg") 0 0/contain no-repeat;
                    width: 36px;
                    height: 36px;
                }
                .search-set {
                    // background: url("./assets/svg/search.svg") 0 0/contain no-repeat;
                    width: 254px;
                    height: 36px;
                    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
                    backdrop-filter: blur(31px);
                    border-radius: 30px;
                    border: solid #24C5DB 1px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .loupe {
                        background: url("./assets/svg/search.svg") 0 0/contain no-repeat;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .sort-wrap {
                display: flex;
                justify-content: space-between;
                .sort-static {
                    @extend %text-shared;
                }
                .sort-set {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
                    backdrop-filter: blur(31px);
                    border-radius: 30px;
                    border: solid #24C5DB 1px;
                    .sort-set_select {
                        margin: 0 auto;
                    }
                }
            }
            .category-wrap {
                .category-static {
                    @extend %text-shared;
                }
                .category-set__static {
                    display: flex;
                    align-items: center;
                    @extend %text-large-middle-little;
                }
                .category-set__square {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
                .category-set__static-checkbox {
                    width: 24px;
                    height: 24px;
                    background: url("./assets/svg/checkbox.svg") 0 0/contain no-repeat;
                }
                .category-set__square:checked+.category-set__static-checkbox {
                    background: url("./assets/svg/checkbox-checked.svg") 0 0/contain no-repeat;
                }
            }
            .form-wrap {
                .form-static {
                    @extend %text-shared;
                }
                .form-set {
                    display: flex;
                    justify-content: space-between;
                    .bell-static,
                    .ball-static,
                    .cone-static,
                    .star-static,
                    .snow-static,
                    .figurine-static {
                        @extend %secondary-text-shared;
                        // margin-top: 16px;
                    }
                    .bell {
                        background: url("./assets/svg/bell-2.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .ball {
                        background: url("./assets/svg/ball.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .cone {
                        background: url("./assets/svg/cone.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .star {
                        background: url("./assets/svg/star.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .snow {
                        background: url("./assets/svg/snow.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .figurine {
                        background: url("./assets/svg/toy.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .bell-static,
                    .ball-static,
                    .cone-static,
                    .star-static,
                    .snow-static,
                    .figurine-static {
                        @extend %secondary-text-shared;
                    }
                }
            }
            .color-wrap {
                // display: flex;
                // justify-content: space-between;
                .color-static {
                    @extend %text-shared;
                }
                .color-set {
                    width: 225px;
                    height: 24px;
                    display: flex;
                    justify-content: space-between;
                    .white {
                        &:hover {
                            cursor: pointer
                        }
                        background: url("./assets/svg/white-sqr.svg");
                        width: 24px;
                        height: 24px;
                    }
                    .yellow {
                        background: url("./assets/svg/yellow-sqr.svg");
                        width: 24px;
                        height: 24px;
                    }
                    .red {
                        background: url("./assets/svg/red-sqr.svg");
                        width: 24px;
                        height: 24px;
                    }
                    .blue {
                        background: url("./assets/svg/blue-sqr.svg");
                        width: 24px;
                        height: 24px;
                    }
                    .green {
                        background: url("./assets/svg/green-sqr.svg");
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            .year-wrap {
                .year-static {
                    @extend %text-shared;
                    width: 100%;
                    height: 22px;
                }
                .year-set-min,
                .year-set-max {
                    @extend %text-shared;
                }
                .year-set-min-max {
                    display: flex;
                    justify-content: space-between;
                }
            }
            .set0f-wrap {
                .set0f-static {
                    @extend %text-shared;
                    width: 100%;
                    height: 22px;
                }
                .set0f-set-min,
                .set0f-set-max {
                    @extend %text-shared;
                }
                .set0f-set-min-max {
                    display: flex;
                    justify-content: space-between;
                }
            }
            .size-wrap {
                .size-static {
                    @extend %text-shared;
                    width: 100%;
                    height: 22px;
                }
                .size-set {
                    // .large-set__square,
                    // .middle-set__square,
                    // .little-set__square {
                    //     -webkit-appearance: none;
                    //     -moz-appearance: none;
                    //     appearance: none;
                    // }
                    // .large-set__static,
                    // .middle-set__static,
                    // .little-set__static {
                    //     @extend %text-large-middle-little
                    // }
                    .large-set__static-checkbox {
                        width: 24px;
                        height: 24px;
                        background: url("./assets/svg/checkbox.svg");
                    }
                    .large-set__square:checked + .large-set__static-checkbox {
                        width: 24px;
                        height: 24px;
                        background: url("./assets/svg/checkbox-checked.svg") 0 0/contain no-repeat;
                    }
                    // display: flex;
                    // justify-content: space-between;
                }
                // .category-set__square{
                //     -webkit-appearance: none;
                //     -moz-appearance: none;
                //     appearance: none;
                // }
                // .category-set__static-checkbox{
                //     width: 24px;
                //     height: 24px;
                //     background: url("./assets/svg/checkbox.svg") 0 0/contain no-repeat;
                // }
                // .category-set__square:checked + .category-set__static-checkbox{
                //     background: url("./assets/svg/checkbox-checked.svg") 0 0/contain no-repeat;
                // }
            }
            .favorite-wrap {
                .favorite-static {
                    @extend %text-large-middle-little;
                    width: 100%;
                    height: 22px;
                    .favorite-square-checkbox{
                        width: 24px;
                        height: 24px;
                        background: url("./assets/svg/checkbox.svg") 0 0/contain no-repeat;  
                    }
                }
            }
            .reset-wrap {
                display: flex;
                justify-content: space-between;
                .reset-filters,
                .reset-settings {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 178px;
                    height: 28px;
                    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
                    backdrop-filter: blur(31px);
                    border-radius: 30px;
                    border: solid #24C5DB 1px;
                    .reset-filters__reset-static,
                    .reset-settings__reset-static {
                        font-family: Steppe;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    .collection-new-year {
        display: flex;
        flex-wrap: wrap;
    }
}

footer {
    margin: 0 auto;
    margin-top: auto;
    width: 1920px;
    // border: rebeccapurple 1px solid;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .rss-logo {
        background: url("./assets/svg/rs_school_logo.svg");
        width: 220px;
        height: 82px;
    }
    .year {
        color: #fff;
    }
}

.developer a {
    color: #fff;
    text-decoration: none;
}

.ExptoyCard {
    display: none;
}

// .exampleDiv{
//     color: #fff;
//     border: solid #24C5DB 1px;
//     width: 222px;
//     height: 342px;
//     margin: 10px;
// }
// .exampleImg{
//     width: 100px;
//     height: 100px;
// }