$col:rgb(255, 0, 0);
body {
    display: flex;
    flex-direction: column;
    background: #192F2D;
}

%text-shared {
    width: 106px;
    height: 22px;
    font-family: Neucha;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

%secondary-text-shared {
    font-family: Steppe;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

main {
    margin: 0 auto;
    width: 1920px;
    border: $col 1px solid;
    .collection-settings {
        .wrapper {
            width: 450px;
            height: 900px;
            border: $col 1px solid;
            .effects-and-seach {
                display: flex;
                justify-content: space-between;
                .sound {
                    background: url("./assets/svg/mute.svg") 0 0/contain no-repeat;
                    width: 36px;
                    height: 36px;
                }
                .snow {
                    background: url("./assets/svg/snow.svg") 0 0/contain no-repeat;
                    width: 36px;
                    height: 36px;
                }
                .search-set {
                    // background: url("./assets/svg/search.svg") 0 0/contain no-repeat;
                    width: 254px;
                    height: 36px;
                    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
                    backdrop-filter: blur(31px);
                    border-radius: 30px;
                    border: solid #24C5DB 1px;
                }
            }
            .sort-wrap{
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                .sort-static {
                    @extend %text-shared;
                }
                .sort-set{
                    width: 178px;
                    height: 30px;
                    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
                    backdrop-filter: blur(31px);
                    border-radius: 30px;
                    border: solid #24C5DB 1px;
                }
            }
            .category-wrap{
                margin-top: 50px;
                // display: flex;
                // justify-content: space-between;
                .category-static {
                    @extend %text-shared;
                }
                .category-set{
                    .static{
                        @extend %text-shared;
                    }
                }
            }
            .form-wrap{
                .form-static{
                    @extend %text-shared;
                }

                .form-set{
                    display: flex;
                    justify-content: space-between;
                    .bell-static, 
                    .ball-static, 
                    .cone-static, 
                    .star-static, 
                    .snow-static, 
                    .figurine-static{
                        @extend %secondary-text-shared;
                        margin-top: 16px;
                    }
                    .bell{
                        background: url("./assets/svg/bell-2.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .ball{
                        background: url("./assets/svg/ball.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .cone{
                        background: url("./assets/svg/cone.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .star{
                        background: url("./assets/svg/star.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .snow{
                        background: url("./assets/svg/snow.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .figurine{
                        background: url("./assets/svg/toy.svg") 0 0/contain no-repeat;
                        width: 42px;
                        height: 42px;
                    }
                    .bell-static, 
                    .ball-static, 
                    .cone-static, 
                    .star-static, 
                    .snow-static, 
                    .figurine-static{
                        @extend %secondary-text-shared;
                    }
                }
            }
            .set0f-static,
            .year-static,
            .color-static,
            .size-static{
                @extend %text-shared;
                margin-top: 16px; 
            }
        }
    }
}

footer {
    margin: 0 auto;
    margin-top: auto;
    width: 1920px;
    border: rebeccapurple 1px solid;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .rss-logo {
        background: url("./assets/svg/rs_school_logo.svg");
        width: 220px;
        height: 82px;
    }
    .year {
        color: #fff;
    }
}

.developer a {
    color: #fff;
    text-decoration: none;
}

#sourceItemTemp {
    display: none;
}

#newsItemTemp {
    display: none;
}