@font-face {
    font-family: 'Neucha';
    src: url('./assets/fonts/Neucha-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

$col:rgb(255,
0,
0);
body {
    display: flex;
    flex-direction: column;
    background: #192F2D;
}


%text-shared {
    height: 22px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

%secondary-text-shared {
    font-family: Steppe;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

%text-large-middle-little {
    font-family: Steppe;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
header{
    margin: 0 auto;
    width: 1920px;
    height: 75px;
    section{
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 500px;
        align-items: center;
        .tree{
            background: url("./assets/svg/tree.svg") 0 0/contain no-repeat;
            width: 42px;
            height: 42px;
            cursor: pointer;
        }
        .toys,
        .tree-make-up{
            @extend %text-shared;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 178px;
             height: 28px;
            background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(157, 243, 255, 0.2) 100%);
            backdrop-filter: blur(31px);
             border-radius: 30px;
            border: solid #24C5DB 1px;
        }
    }

}
footer {
    margin: 0 auto;
    margin-top: auto;
    width: 1920px;
    // border: rebeccapurple 1px solid;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .rss-logo {
        background: url("./assets/svg/rs_school_logo.svg");
        width: 220px;
        height: 82px;
    }
    .year {
        color: #fff;
    }
}
.developer a {
    color: #fff;
    text-decoration: none;
}

.ExptoyCard {
    display: none;
}

